.boards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#inicio{
    background-image: url(../img/imgTabuleiro/inicio.jpg);
    background-size: cover;
}

#ponte{
    background-image: url(../img/imgTabuleiro/ponte.jpg);
    background-size: cover;
}

#floresta{
    background-image: url(../img/imgTabuleiro/floresta.jpg);
    background-size: cover;
}

#deserto{
    background-image: url(../img/imgTabuleiro/deserto.jpg);
    background-size: cover;
}

#labirinto{
    background-image: url(../img/imgTabuleiro/labirinto.jpg);
    background-size: cover;
}

#final{
    background-image: url(../img/imgTabuleiro/final.jpg);
    background-size: cover;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }
  